DJANGO_ENV=development
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me-before-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,yourusername.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourusername.pythonanywhere.com
